/* fichier style.css */
.terence {
    display: block;
    width: 30%;
    margin: 0 auto;
}

.sizeSvg20{
    width: 20px;
    height: 20px;
}


.noDesignbtn{
    border:none;
    padding: 0;
    background-color: transparent;
}