<form 
    class="d-inline-block"
    method="post" 
    action="{{ path('app_category_delete', {'id': category.id}) }}" 
    onsubmit="return confirm('Are you sure you want to delete this item?');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="noDesignbtn">
        {{ ux_icon('lucide:trash-2', {'class':'text-danger sizeSvg20'}) }}
    </button>
</form>