{% extends 'base.html.twig' %}

{% block h1 %}Modifier la catégorie "{{ category.titre|capitalize}}"{% endblock %}

{% block body %}

    <a class="btn btn-dark" href="{{ path('app_category_index') }}">Gestion des catégories</a>

    {{ include('category/_form.html.twig', {'button_label': 'Modifier la catégorie'}) }}


    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
