{% extends 'base.html.twig' %}

{% block h1 %}Ajouter une catégorie{% endblock %}

{% block body %}

    <a class="btn btn-dark" href="{{ path('app_category_index') }}">Gestion des catégorie</a>

    {{ include('category/_form.html.twig') }}

{% endblock %}