{% extends "base.html.twig" %}
{% block h1 %}Ajouter un produit{% endblock %}
{% block body %}
<a class = "btn btn-dark" href="{{path ('app_product_index')}}">Gestion des produits</a>

{# 
il existe 2 façons d'afficher les formulaires symfony 
- la twig form () qui prend comme argument la vue de l'objet $form transmis par le render ()
==> elle affiche l'intégralité du formulaire de la balise <form> ouvrante à la balise </form> fermante
#}


{{ form (formProduct)}}
{% endblock %}

